<div>
    <h4>Thêm tập mới</h4>
    <form method="POST" action="storeFlim">
        
        <div class="form-group">
            <label for="">Tập</label>
            <input type="" class="form-control" id=""  name="ep" placeholder="">
        </div>
        <div class="form-group">
            <label for="">Link video</label>
            <input type="" class="form-control" id=""  name="videoLink" placeholder="">
        </div>
        <input type="" class="form-control" style="display:none" id="" value="{{name}}" name="name" placeholder="">
        
        <button type="submit" class="btn btn-primary">Thêm</button>
    </form>
</div>