<div>
    <h3>Update flim</h3>
    <form method="POST" action="updateStoreFlim?_method=PUT">
        
        <div class="form-group">
            <label for="">Tập</label>
            <input type="" class="form-control" id="" value="{{store.ep}}" name="ep" placeholder="">
        </div>
        <div class="form-group">
            <label for="">Link video</label>
            <input type="" class="form-control" id="" value="{{store.videoLink}}" name="videoLink" placeholder="">
        </div>
         
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>