<div class="footer">
    <div class="footer-container row">
        <div class="footer-list">
            <p class="footer-text">Thực hiện bởi Thái Chính</p>
            <p class="footer-text">Web hoạt hình hh kungfu</p>
        </div>
    </div>
</div>