<link rel="stylesheet" href="/css/menuManager.css">

<div class="wrapper-menu">
    
    <div class="menu">
        <ul class="list">
            <a href="/">
                <li class="item"><i class="fas fa-home"></i>Trang chủ</li>
            </a>
            <a href="/manager/user">
                <li class="item"><i class="fas fa-user"></i>Users</li>
            </a>
            <a href="/manager/">
                <li class="item"><i class="fas fa-film"></i>Flims</li>
            </a>
            <a href="/manager/category">
                <li class="item"><i class="fas fa-list"></i>Danh mục</li>
            </a>
        </ul>
    </div>
</div>